---
layout: default
title: "Home"
description: "Home of the Kylo Browser project"
group: "navigation"
weight: 1
---
{% include JB/setup %}
<div class="row-fluid">
  <div class="span12">
    <div class="hero-unit">
      <h1>Now open.</h1>
      <p><strong><a href="http://kylo.tv">Kylo</a></strong>, the web browser for your TV, has now been released as open source software under the <a href="http://www.mozilla.org/MPL/">Mozilla Public License</a>. This exciting change puts the power to evolve the award-winning software into the hands of the community. Welcome to <strong>Team Kylo.</strong></p>
      <p><a class="btn btn-primary btn-large" href="http://hillcrestlabs.com/downloads/pr/Kylo_Open%20Source%20Release_FINAL.pdf" title="Kylo Open Source Press Release">Read the press release &raquo;</a></p>  
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span3 center">
    <p>Looking to download the latest <br/><a href="http://kylo.tv">official release</a>?</p>
  </div>
  <div class="span3 center">
    <p>Source code available on <br/><a href="http://github.com/teamkylo/kylo-browser/">our GitHub repository</a></p>
  </div>
  <div class="span3 center">
    <p>Need further assistance? <br/><a href="http://hillcrestlabs.com/company/contact-us/">Contact Hillcrest Labs</a>.</p>
  </div>
  <div class="span3 center">
    <p>All Team Kylo projects are hosted on <br/><a href="http://github.com/teamkylo">GitHub</a></p>
  </div>
</div>  

<div class="row-fluid">
{% if site.posts != empty %}    
    <div class="span6">
    <div class="page-header">
      <h1>Latest News</h1>  
    </div>
    <ul class="posts">
      {% for post in site.posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>         
  </div> 
{% endif %}
    <div id="rssWidgetHost" class="span6">
    <div class="page-header">
      <h1>Recent Activity</h1>
    </div>
    <div class="well gh-activity">
      <ul id="rssWidget" class="posts"></ul>
    </div>      
  </div>
</div>

