@import "compass/css3";
@import "compass_twitter_bootstrap";
@import "compass/layout/sticky-footer";

body {
  padding: 60px 0 40px 0;
}

@import "compass_twitter_bootstrap_responsive";

html, body {
  /*background-color: #e5e5e5;*/
}

body {
  /*@include background-image(linear-gradient(#f5f5f5, #e5e5e5));*/
}

.navbar .github-btn {
  padding-top: 12px;
}

.center {
  text-align: center;
}

.navbar .logo {
  padding: 0;
}

/* Share buttons */
ul.share-links li {
  list-style: none;
  float: right;
}

/* Github activity feed */

li.gh_activity {
  list-style: none;
  height: 40px;
  padding: 1px 0;
}

li.gh_activity img {
  padding: 2px;
  border: 1px solid #D0D0D0;
  background-color: #FFF;
  vertical-align: middle;
}

/* Footer */

.container > footer {
  margin-top: 20px;
  color: #999;
}

footer p {
  font-size: 85%;
}

.container > footer > p > a {
  color: #333;
}

.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  @include border-bottom-radius(6px);
  @include box-shadow(0 1px 5px rgba(0,0,0,.75));
}