@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";

html, body {
  height: 100%;
}

body {
 background: image-url("bg.png") repeat-x;
}

/* Content area */
.main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.push {
  height: 0;
}

.hero-unit {
  .xl {
    font-size: 125%;
  }
}

.cancel {
  text-decoration: line-through;
}

/* Navbar */
.navbar .logo {
  padding: 0;
}

/* Share buttons */
ul.share-links li {
  list-style: none;
  float: right;
  width: 100px;
}

/* Github activity feed */
.gh-activity {
  li {
    list-style: none;
    height: 40px;
    margin: 2px 0;
    img {
      float: left;
      padding: 2px;
      margin-right: 8px;
      border: 1px solid #D0D0D0;
      background-color: #FFF;
      vertical-align: middle;
    }
  }
}


footer {
  @include box-sizing(border-box);
  background-color: #333;
  color: #999;  
  padding: 20px 0 0 0;
  p {
    font-size: 85%;
  }
  .link-footer {
    border-bottom: 1px solid #2f2f2f;
    ul {
      display: block;
      lh {
        font-weight: bold;
        font-size: 105%;
      }
      li {
        text-indent: 5px;
        list-style: none;
        a {
          color: #999;
        }
      }    
    }
    .watermark {
      text-indent: -1000em;
      width: 180px;
      height: 40px;
      background: url('/assets/teamkylo_watermark.png') no-repeat center;
      background-size: contain;
    }
    .poweredby {
        display: block;
        text-indent: -1000em;
        background: url('/assets/powered-by-mozilla-reversed.png') no-repeat center;
        height: 55px;
        width: 180px;
        padding-top: 40px
    }
  }
  .copy-footer {
    border-top: 1px solid #3a3a3a;
    .footer-link {
      color: #999;
      text-decoration: underline;
    }
    p {
      padding-top: 3px;
    }
    p.copyright {
      white-space: nowrap;
    }
  }
}  


/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  @include border-bottom-radius(6px);
  @include box-shadow(0 1px 5px rgba(0,0,0,.75));
}

/**
 *   Small screen stuff...
 */

@media (min-width: 979px) {
  .main {
    .container {
      padding-top: 60px;
    }
  }
}

@media (max-width: 767px) {
  footer {
    .copy-footer {
      p {
        padding-left: 5px;
      }
    }
  }
}

@media (min-width: 768px) {
  .main {
    margin-bottom: -200px; 
  }
  
  .push {
      height: 200px;
  }

  footer {
    height: 200px;
    .link-footer {
      > div > ul {
        border-right: 1px dashed #444;
        height: 120px;
      }
      > div:nth-last-child(-n + 2) > ul {
        border: none;
      }
    }
    .copy-footer {
      height: 29px;
      .copyright {
        float: right;
      }
    }
    .logos {
      float: right;
    }    
  }  
}
