@import "compass/css3";
@import "compass_twitter_bootstrap";
@import "compass/layout/sticky-footer";

html, body {
  height: 100%;
}

body {
 background: image-url("bg.png") repeat-x;
}

@import "compass_twitter_bootstrap_responsive";

/* Content area */
.main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px;
  .container {
    padding-top: 60px;
  }
}

.center {
  text-align: center;
}

.hero-unit {
  .xl {
    font-size: 125%;
  }
}

.cancel {
  text-decoration: line-through;
}

/* Navbar */
.navbar .logo {
  padding: 0;
}

/* Share buttons */
ul.share-links li {
  list-style: none;
  float: right;
  width: 100px;
}

/* Github activity feed */
.gh-activity {
  li {
    list-style: none;
    height: 40px;
    margin: 2px 0;
    img {
      float: left;
      padding: 2px;
      margin-right: 8px;
      border: 1px solid #D0D0D0;
      background-color: #FFF;
      vertical-align: middle;
    }
  }
}


.push {
    height: 200px;
}


/* Footer */

footer {
  background-color: #333;
  color: #999;  
  padding: 20px 40px 1px 40px;
  height: 180px;
  p {
    font-size: 85%;
  }
  .link-footer {
    height: 149px;
    border-bottom: 1px solid #2f2f2f;
    .link-blocks > .row > .span2 {
      display: block;
      border-right: 1px dashed #444;
      height: 120px;
      lh {
        font-weight: bold;
        font-size: 105%;
      }
      li {
        text-indent: 5px;
        list-style: none;
        a {
          color: #999;
        }
      }    
    }
    .link-blocks > .row > .span2:last-child {
      border: none;
    }
    .watermark {
      text-indent: -1000em;
      width: 180px;
      height: 40px;
      background: url('/assets/teamkylo_watermark.png') no-repeat center;
      background-size: contain;
    }
  }
  .copy-footer {
    height: 29px;
    border-top: 1px solid #3a3a3a;
    .left > p > a {
      color: #999;
      text-decoration: underline;
    }
    .right > p {
      float: right;
    }
    p {
      padding-top: 3px;
    }
  }
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  @include border-bottom-radius(6px);
  @include box-shadow(0 1px 5px rgba(0,0,0,.75));
}