<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }} - {{page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.author.name }}">

    <link rel="alternate" type="application/atom+xml" href="{{ BASE_PATH }}/atom.xml" />

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" media="all">   
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
    <!--
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>          
          {% if site.logo %}
          <a class="brand logo" href="{{ HOME_PATH }}">   
            <img src="{{ site.logo }}" alt="{{ site.title }}" height="40"/>
          </a>
          {% else %}
          <a class="brand" href="{{ HOME_PATH }}">   
            {{ site.title }}
          </a>
          {% endif %}
          <div class="btn-group pull-right">
            <a class="btn" href="http://kylo.tv"><i class="icon-download"></i> Get Kylo</a>
            <a class="btn" href="http://code.kylo.tv"><i class="icon-download-alt"></i> Get the Source</a>
          </div>          
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% assign pages_list = site.pages %}
              {% assign group = 'navigation' %}
              {% assign sort = 'weight' %}
              {% include JB/pages_list %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="container">
          {{ content }}
      </div> <!-- /container -->      
      <div class="push"></div>
    </div>
    
    {% include themes/twitter-kylo/footer.html %}      
    
    <!-- Le javascript        
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script>

<script type="text/javascript">
$(document).ready(
  
  function() {
    if ($("#rssWidget").length > 0 &&
        $("#rssWidgetHost").length > 0) {
      
      feed = 'https://github.com/teamkylo/kylo-browser/commits/master.atom';
      //feed = 'https://github.com/organizations/teamkylo/kwood1138.private.atom?token=83a7b5894bfce6f4b5b4d03b07974b1f';
      
      $.YQL = function(query, callback) {
          var encodedQuery = encodeURIComponent(query.toLowerCase()),
              url = 'http://query.yahooapis.com/v1/public/yql?q='
                  + encodedQuery + '&format=json&callback=?';
          $.getJSON(url, callback);
      };      
      
      $.YQL("select * from atom where url='" + feed + "' limit 3",
        function(data){
          if (!data.query.results) return;
          var blogPost=data.query.results.entry;
          $.each(blogPost,function(index, blogPost){
            //$('#rssWidget').append("<li><a href='"+blogPost.link.href+"'>"+blogPost.title.content+"</a></li>");
            $('#rssWidget').append("<li class='gh_activity'><a href='" + blogPost.author.uri + "'><img src='" + blogPost.thumbnail.url + "' width='" + blogPost.thumbnail.width + "' height='" + blogPost.thumbnail.height + "'/></a> <a href='" + blogPost.link.href + "' target='_blank'>" + blogPost.title.content + "</a></li>");
          });
          $('#rssWidgetHost').fadeIn('slow');  
        });  
      
    };
  }
)
</script>

    {% include JB/analytics %}
  </body>
</html>
